@charset "UTF-8";
/*-------МИКСИНЫ-------------*/
/*-------МИКСИНЫ-------------*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@font-face {
  font-family: "Pehlevi";
  font-display: swap;
  src: url("../fonts/Pehlevi-Regular.woff") format("woff"), url("../fonts/Pehlevi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.f-OpenSans {
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
}

.f-Roboto {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
}

.f-Manrope {
  font-size: 40px;
  font-family: "Manrope", sans-serif;
}

.f-Josefin {
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
}

.f-Pehlevi {
  font-size: 40px;
  font-family: "Pehlevi", sans-serif;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  color: #000;
  font-size: 10px;
  font-family: "";
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 1182px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

.button {
  font-family: Open Sans;
  font-size: 12px;
  background-color: #e9e8e8;
  color: #616161;
  text-transform: uppercase;
  padding: 6px 14px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0px 20px;
  height: 47px;
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
}

@media (min-width: 992px) {
  .btn:hover {
    background-color: #d15050;
  }
}

.btn._fw {
  width: 100%;
}

.header {
  position: relative;
  z-index: 100;
}

.header__content {
  max-width: 1100px;
  padding: 0px 10px;
  margin: 0 auto;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 82px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #8b8b8b;
  padding: 0px 5px;
  margin: 0px 15px;
}

.menu__link:hover {
  color: #f0c640;
  position: relative;
}

.menu__link:hover::before {
  content: "";
  background: #f0c640;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  width: 5.99px;
  height: 5.99px;
  left: -13px;
  top: 5px;
}

.icon-menu {
  display: none;
}

@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    height: 18px;
    width: 30px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    -webkit-transform: all 0.3s ease 0s;
            transform: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu span:first-child {
    top: 0;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% + 1px);
  }
}
