@include font("Pehlevi", "Pehlevi-Regular", "400", "normal");

@include font("Open Sans", "OpenSans-Bold", "700", "normal");
@include font("Open Sans", "OpenSans-Regular", "400", "normal");
// font-family: 'Open Sans', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
//font-family: 'Roboto', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
//font-family: 'Manrope', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
//font-family: 'Josefin Sans', sans-serif;

//для теста:
.f-OpenSans {
   font-size: 40px;
   font-family: "Open Sans", sans-serif;
}
.f-Roboto {
   font-size: 40px;
   font-family: "Roboto", sans-serif;
}
.f-Manrope {
   font-size: 40px;
   font-family: "Manrope", sans-serif;
}
.f-Josefin {
   font-size: 40px;
   font-family: "Josefin Sans", sans-serif;
}

.f-Pehlevi {
   font-size: 40px;
   font-family: "Pehlevi", sans-serif;
}
//иконочные шрифты
@include font("icon", "icon", "400", "normal");
