.footer {
   background: #0f1d22;
   min-height: 500px;
   &__row {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      flex-grow: 1;
      min-height: 500px;
   }

   &__top {
      display: flex;
      justify-content: center;
      flex: 1 1 auto;
   }

   &__menu {
      background: rgba(196, 167, 167, 0.205); //удалить
      width: 33.333%;
   }

   &__menu-body {
   }

   &__menu-list {
   }

   &__info {
      background: rgba(150, 130, 130, 0.205); //удалить
      width: 33.333%;
   }

   &__instagram {
      background: rgba(207, 207, 207, 0.205); //удалить
      width: 33.333%;
   }

   &__label {
   }

   &__copyright {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 60px;
      background: rgba(142, 190, 170, 0.205); //удалить
   }

   &__copyright-text {
      font-family: Open Sans;
      font-size: 12px;
      color: #fff;
      & span {
         font-size: 13px;
      }
   }
}

.info {
   &__description {
   }

   &__phone {
   }

   &__addres {
   }
}
.instagram {
   &__item {
   }

   &__photo {
   }
}
