.header {
   display: flex;
   justify-content: center;
   margin: 0 auto;
   &__content {
      margin-top: 30px;
      padding: 0px 15px 0px 15px;
      width: 100%;
      display: flex;
      position: fixed;
      justify-content: space-between;
      flex: 1 1 auto;
      @media (min-width: px) {
      }
   }
}
.logo {
   display: flex;
}
.menu {
   display: flex;
   justify-content: center;
   align-items: center;
   &__body {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__list {
      display: flex;
      justify-content: center;
      @media (max-width: $md1+px) {
         display: none;
      }
   }
   &__link {
      font-family: Open Sans;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: rgb(255, 255, 255);
      padding: 0px 2.5px;
      margin: 0px 16.5px;
      transition: color 0.3s ease 0s;
      &:hover {
         color: #f0c640;
         position: relative;
      }
      &:hover::before {
         content: "";
         background: #f0c640;
         transform: rotate(-45deg);
         position: absolute;
         width: 5.99px;
         height: 5.99px;
         left: -10px;
         top: 6px;
      }
   }

   &__btn {
      margin-right: 50px;
   }

   &__cart {
      margin: 0px 15px;
   }
   &__userlog {
      margin: 0px 15px;
   }
   &__bar {
      margin: 0px 7px 0px 15px;
   }
}

//<ПОДЛОЖКА ГЛАВНОГО МЕНЮ ПРИ СКРОЛЛЕ>==================
.header_fixed {
   position: fixed;
   width: 100%;
   height: 80px;
   top: 0;
   left: 0;
   background: #0f1d22;
   animation-name: show_header;
   animation-duration: 0.5s;
}

@keyframes show_header {
   0% {
      background: #0f1d2200;
   }
   100% {
      background: #0f1d22;
   }
}

.header_fixed_hidden {
   position: fixed;
   width: 100%;
   height: 80px;
   top: 0;
   left: 0;
   animation-name: show_hidden;
   animation-duration: 0.5s;
}

@keyframes show_hidden {
   0% {
      background: #0f1d22;
   }
   100% {
      background: #0f1d2200;
   }
}

//</ПОДЛОЖКА ГЛАВНОГО МЕНЮ ПРИ СКРОЛЛЕ>==================

//<БУРГЕР> ================
.icon-menu {
   display: none;
   @media (max-width: $md3+px) {
      display: block;
      position: absolute;
      top: 18px;
      right: 10px;
      height: 18px;
      width: 30px;
      cursor: pointer;
      z-index: 5;
      span {
         transform: all 0.3s ease 0s;
         top: calc(50% - 1px);
         left: 0px;
         position: absolute;
         width: 100%;
         height: 2px;
         background-color: #000;
         &:first-child {
            top: 0;
         }
         &:last-child {
            top: auto;
            bottom: 0px;
         }
      }
      &._active {
         span {
            transform: scale(0);
            &:first-child {
               transform: rotate(-45deg);
               top: calc(50% - 1px);
            }
            &:last-child {
               transform: rotate(45deg);
               bottom: calc(50% + 1px);
            }
         }
      }
   }
}
//</БУРГЕР> ================
