.open-menu {
   &__welcome {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      max-width: 1920px;
      background-image: url(../img/main_page/top_bg.jpg);
      background-position: center top;
      background-repeat: no-repeat;
      // background-attachment: fixed;
      background-size: cover;
   }
   &__title {
      text-align: center;
      margin-top: 200px;
   }

   &__text {
      margin-top: 50px;
   }

   &__button {
      margin: 30px 0px 285px 0px;
   }
}
