.open-menu {
   height: 790px;
   overflow: hidden;
   // &__welcome {
   //    z-index: 0;
   //    display: flex;
   //    justify-content: center;
   //    align-items: center;
   //    flex-direction: column;
   //    max-width: 100%; //1920px
   //    max-height: 532px;
   //    // height: auto;
   //    // width: auto;
   //    background: URL("../img/main_page/top_bg.jpg") no-repeat center top rgba(0, 0, 0, 0.5);
   //    background-attachment: fixed;
   //    -webkit-background-size: cover;
   //    -moz-background-size: cover;
   //    -o-background-size: cover;
   //    background-size: cover;
   // }
   position: relative;
   &__welcome {
      z-index: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
         z-index: -1;
         position: absolute;
         width: 100%;
         min-height: 790px;
         @media (min-width: $md2+px) {
            min-height: 615px;
         }
         @media (min-width: $md3+px) {
            min-height: 532px;
         }
         height: auto;
         top: 0;
         left: 0;
         object-fit: cover;
      }
   }

   &__title {
      text-align: center;
      margin-top: 200px;
   }

   &__text {
      margin-top: 50px;
   }

   &__button {
      margin: 30px 0px 285px 0px;
   }
}

//*********<ABOUT>************
.about {
   margin: 120px 0px 215px 0px;
   @media (max-width: $md3+px) {
      margin: 74px 0px 215px 0px;
   }
   @media (max-width: $md4+px) {
      margin: 74px 0px 190px 0px;
   }
   &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
   }

   &__title {
      color: #0f1d22;
   }

   &__text {
      color: #616161;
      font-size: 17px;
      padding: 20px 10px;
      max-width: 635px;
      text-align: center;
      line-height: 1.8;
      margin-bottom: 56px;
   }

   &__photo-carousel {
      display: flex;
      max-height: 100%;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
   }

   &__chef {
      display: flex;
      margin-top: 70px;
   }

   &__chef-foto {
   }
   &__chef-discription {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      padding-left: 30px;
   }
   &__chef-text {
      color: #616161;
      font-size: 13px;
      margin-left: 10px;
   }

   &__chef-signature {
   }
}
//*********</ABOUT>************

//*********<BEST FOOD>******************
.best-food {
   display: flex;
   background: #0f1d22;
   overflow: hidden;
   @media (min-width: $md3) {
      display: flex;
      max-height: 926px;
   }
   @media (min-width: $md2+px) {
      max-height: 815px;
   }
   &__content {
      //запрещаем умелисиваться и уменбшаться и делаеи его на всю ширину области
      max-height: 815px;
      flex: 0 0 100%;
      display: flex;
      @media (max-width: $md2+px) {
         max-height: 926px;
         margin-top: 65px;
      }
   }

   &__container {
      max-width: 1134px;
      margin: 0 auto;
      padding: 0px 12px; //чтобы контент не прилипал к кроям экрана
      display: flex;
      align-items: center;
   }

   &__body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px 0px 0px 0px;
      max-width: 520px;
      @media (min-width: $md2+px) {
         width: 50%;
         margin: 150px 20px 150px 0px;
         padding: 0px 12px 0px 0px;
         max-width: 100%;
      }
   }
   &__name {
      font-family: Open Sans;
      font-weight: 700;
      font-size: 22px;
      color: #fff;
      text-align: center;
      margin: 40px 0px 22px 0px;
   }

   &__title {
      @media (max-width: $md2+px) {
         text-align: center;
      }
      @media (max-width: $md4+px) {
         font-size: 54px;
         text-align: center;
      }
   }
   &__image-min {
      display: flex;
      justify-content: center;
      position: relative;
      margin-top: 25px;
      width: 100%;
      height: 100%;
      max-width: 350px;
      max-height: 250px;
      @media (min-width: $md2+px) {
         display: none;
      }
   }
   &__image-min-item {
      flex: 0 0 350px;
      width: 100%;
      max-height: 250px;
      max-width: 350px;
      min-height: 250px;
      // min-width: 150px;
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         object-fit: cover;
      }
   }

   &__text {
      padding-right: 15px;
      font-size: 20px;
      line-height: 130%;
      letter-spacing: 2px;
      @media (max-width: $md2+px) {
         text-align: center;
      }
      @media (max-width: $md4+px) {
         font-size: 18px;
         text-align: center;
      }
   }
   &__chef-name {
      text-transform: uppercase;
      font-family: Roboto;
      font-size: 18px;
      color: #c9ab81;
      letter-spacing: 4px;
      margin-top: 40px;
   }
   &__chef {
      font-family: "Josefin Sans", sans-serif;
      font-size: 17px;
      color: #fff;
      margin-top: 18px;
   }
   &__button {
      margin: 20px 0 100px 0px;
   }

   &__image {
      display: flex;
      @media (max-width: $md2+px) {
         visibility: hidden;
         display: none;
      }
      img {
         max-height: 815px;
         z-index: -1;
         max-width: 100%;
      }
      @media (min-width: $md3+px) {
         padding: 0px 0px 44% 0px;
         position: relative;
         flex: 0 0 50%; //используйесли контент и картинка занимают по 50% (ширины контента/экрана)
         //***использовать при пропорциях отличных от 50/50
         // flex: 0 0 calc(((100vw - 24px) * 0.6) + 12px); //24px - сумма отступов с лева и права у &__container?, 0.6 (60%) - сколько занимает картинка
         //@media (min-width: $maxWidthContainer + px) {
         // flex: 0 0 calc(50vw - (0.4 - 0.5) * (1110px));
         //}
         //***************************************************
         transform: translate(-100%, 0px);
         img {
            z-index: -1;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
         }
      }
   }
}

//*********</BEST FOOD>******************
