// @include font("BebasNeue-Regular", "BebasNeue-Regular", "400", "normal");
// @include font("Lato", "Lato-Bold", "700", "normal");
// @include font("Lato", "Lato-Regular", "400", "normal");
// @include font("SF-UI-Display-Regular", "SF-UI-Display-Regular", "400", "normal");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
// font-family: 'Open Sans', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
//font-family: 'Roboto', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
//font-family: 'Manrope', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
//font-family: 'Josefin Sans', sans-serif;

.f-OpenSans {
   font-size: 40px;
   font-family: "Open Sans", sans-serif;
}
.f-Roboto {
   font-size: 40px;
   font-family: "Roboto", sans-serif;
}
.f-Manrope {
   font-size: 40px;
   font-family: "Manrope", sans-serif;
}
.f-Josefin {
   font-size: 40px;
   font-family: "Josefin Sans", sans-serif;
}
