.title {
}
.text {
}
.button {
   font-family: Open Sans;
   font-size: 12px;
   background-color: #e9e8e8;
   color: #616161;
   text-transform: uppercase;
   padding: 6px 14px;
}

//=====класс делает картинки адаптивными=====
._ibg {
   position: relative;
   img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
   }
}
//=========================================
